.teks {
  font-weight: 900 !important;
}

.user-panel {
  overflow: visible;
}

.dropdown-item:hover {
  color: black !important;
}

.dropdown-item:active {
  color: white !important;
}

.modedark .user-panel .dropdown-item {
  color: #fff !important;
}

/* untuk login.php */
/* mengubah warna X alert */
.ubah-warna-alert {
  opacity: 0.9 !important;
  color: rgb(255, 255, 255) !important;
}
.ubah-warna-alert:hover {
  opacity: 1 !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: none;
}

/* untuk index.php */
@media screen and (max-width: 576px) {
  .h5-responsive-index {
    font-size: 15px;
  }
}
/* Untuk anggota.php */
@media screen and (max-width: 576px) {
  td {
    font-size: 13px;
  }

  th {
    font-size: 13px;
  }
}

@media screen and (max-width: 576px) {
  .tes {
    margin-top: 0px !important;
  }
}
