/* navbar */

a.user-profile {
  color: #5e6974;
}

.navbar-expand .navbar-nav .open .nav-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.main-header .open .nav-link {
  height: auto !important;
}

.user-profile img {
  width: 29px !important;
  height: 29px !important;
  border-radius: 50% !important;
  margin-right: 10px !important;
}

.top_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------- */

.teks {
  font-weight: 900 !important;
}

.user-panel {
  overflow: visible;
}

.dropdown-item:hover {
  color: black !important;
}

.dropdown-item:active {
  color: white !important;
}

.modedark .user-panel .dropdown-item {
  color: #fff !important;
}

/* untuk login.php */
/* mengubah warna X alert */
.ubah-warna-alert {
  opacity: 0.9 !important;
  color: rgb(255, 255, 255) !important;
}
.ubah-warna-alert:hover {
  opacity: 1 !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: none;
}

.box-login {
  min-height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
/* -------- */

/* untuk index.php */
@media screen and (max-width: 576px) {
  .h5-responsive-index {
    font-size: 15px;
  }
  .h4-responsive-juta {
    font-size: 25px !important;
  }
}
/* Untuk anggota.php */

@media screen and (max-width: 576px) {
  .tes {
    margin-top: 0px !important;
  }
}
